
/* Reservation Detail Box */
.reservation-detail {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #e8e1d0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* Header Styling */
.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
}

.detail-header h2 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  flex-grow: 1;
}

.detail-header .number {
  display: inline-block;
  background-color: #333;
  color: #e8e1d0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

/* Body Styling */
.detail-body h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.detail-body p {
  margin: 5px 0;
  color: #333;
}

.detail-body h4 {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}



/* Button */
.next-button {
  width: 150px;
  padding: 10px;
  background-color: #b29a73;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}

.next-button:hover {
  background-color: #997d52;
}
